LOG_LEVEL=info # error | warn | info | http | verbose | debug | silly
LOG_FORMAT=pretty # pretty | json

# openssl rand --hex 64
JWT_SECRET=
JWT_EXPIRES_IN=1h
REFRESH_TTL_DAYS=7

GATEWAY_PORT=3000
PRODUCTS_PORT=3001
CART_PORT=3002
ORDERS_PORT=3003
USERS_PORT=3004
AUTH_PORT=3005

PRODUCTS_HOST=127.0.0.1
CART_HOST=127.0.0.1
ORDERS_HOST=127.0.0.1
USERS_HOST=127.0.0.1
AUTH_HOST=127.0.0.1

# https://developer.paypal.com/dashboard/applications/sandbox
PAYPAL_API_URL=https://api-m.sandbox.paypal.com # https://api-m.paypal.com in prod
# PAYPAL_CLIENT_ID=
# PAYPAL_CLIENT_SECRET=
PAYPAL_CURRENCY=USD
# PAYPAL_RETURN_URL=http://localhost:3000/api/orders/payment/return
# PAYPAL_CANCEL_URL=http://localhost:3000/api/orders/payment/cancel

DB_SYNCHRONIZE=true # false in prod
DB_MIGRATIONS_RUN=false # true in prod

REDIS_HOST=127.0.0.1 # leave empty for in-memory cache
REDIS_PORT=6379
# REDIS_PASSWORD=
# time-to-live in ms
PRODUCTS_CACHE_TTL=30000
USERS_CACHE_TTL=30000
AUTH_CACHE_TTL=30000
ORDERS_CACHE_TTL=30000

PRODUCTS_DB_HOST=127.0.0.1
PRODUCTS_DB_PORT=5532
PRODUCTS_DB_USERNAME=postgres
PRODUCTS_DB_PASSWORD=postgres
PRODUCTS_DB_NAME=products

CART_DB_HOST=127.0.0.1
CART_DB_PORT=5533
CART_DB_USERNAME=postgres
CART_DB_PASSWORD=postgres
CART_DB_NAME=cart

ORDERS_DB_HOST=127.0.0.1
ORDERS_DB_PORT=5534
ORDERS_DB_USERNAME=postgres
ORDERS_DB_PASSWORD=postgres
ORDERS_DB_NAME=orders

USERS_DB_HOST=127.0.0.1
USERS_DB_PORT=5535
USERS_DB_USERNAME=postgres
USERS_DB_PASSWORD=postgres
USERS_DB_NAME=users

AUTH_DB_HOST=127.0.0.1
AUTH_DB_PORT=5536
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=postgres
AUTH_DB_NAME=auth
